<div class="container-fluid wow fadeInLeft animated">

	<div class="col-lg-3">
	<br>
		<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<h3>Vendors in your area</h3>
			</div>

			<div class="panel-body light-red">
				<ul class="list-unstyled">
					<% @vendors.each do |vendor| %>
						<li>
							<h4 style="display:inline;"> 
								<a href="/organizers/examinevendor/<%= vendor.id  %>" ><%= vendor.first_name  %> <%= vendor.last_name  %>
								</a>
								<% if vendor.name.present? %>
									<%= vendor.name  %>
								<% end %>
							</h4>
						</li>
						<hr>
					<% end %>
				</ul>

			</div>
			
		</div>
	</div>
	
	<div class="col-lg-9">
	<br>
		<div class="panel panel-default light-red panel-border-black">
			<div class="panel-heading clearfix">
				<a href="<%= organizers_addevent_path  %>" class= "btn btn-primary btn-lg pull-right"style="color:white;">Add New Event</a>

					<h2 class="pull-left">Events</h2> 
					<br>
				</div>
				<div class="panel-body">
				<div class="container-fluid">

					
						<% if @events.present? %>
						<% columncounter = 0 %>
						<% @events.each do |event| %>
						<% if columncounter  == 0 %>
							<div class="row">
							
						
						<% end %>
						<% columncounter = columncounter + 1 %>
							<div class="col-lg-4">
								
									<div class="panel panel-default panel-border-grey ex1 text-center justify-block box-shadow  " id="<%= event.id  %>">
										<div class="panel-heading">


										<%= link_to 'X', "/organizer/deleteevent/#{event.id}", data: { :confirm => 'Are you sure?', method: :delete}, remote: true , :class => "btn btn-sm btn-danger pull-right"   %>
										
											<h4><%= event.name  %> <br> <small><%= event.venue  %></small></h4>

										</div>
										<a href="/organizers/showevent/<%= event.id %>" style='color:black;'>
											<div class="panel-body">
												
												Start time: <%= pretty_date(event.start_date)  %> <br>
												End time: <%= pretty_date(event.end_date)  %> <br>
												<%= event.city  %>, <%= event.state  %> <br>
												<%= event.address %>
												<%= event.zipcode  %>
												
												
											</div>
										</a>

									</div>
								
							</div>
							<% if columncounter == 3 %>
								
								</div>
							<%  columncounter = 0 %>
							<% end %>
						<% end %>
						<% end %>
						
					</div>
					
			
			</div>

		</div>
	</div>
	

	
</div>
