
<div class="container-fluid wow fadeInLeft animated">

	
	<div class="col-lg-11 center-block">
	<br>
	<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
					<h4>Details for <span class='highlight'><b><%= @event.name %></b></span></h4>
					</div>

					<div class="col-md-6">
					<h4>Comments</h4>	
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="col-md-6">
					<p> 
						
						<h4>Start time: <%= pretty_date(@event.start_date)  %></h4> 
						<h4>End time: <%= pretty_date(@event.end_date)  %></h4> 
						<h4>City: <%= @event.city  %>, <%= @event.state  %></h4> 
						<h4>Address: <%= @event.address %></h4>
						<h4>Zipcode: <%= @event.zipcode  %></h4>
					</p>
					<br>
					<button  data-toggle="modal" data-target="#addserviceModal" class="btn btn-default">
						Add a service
					</button>
					<button  data-toggle="modal" data-target="#viewservicesModal" class="btn btn-default">
						View services
					</button>
					<br>
					<hr>

					<a href="<%= organizer_path  %>" class="btn btn-primary">Back to events</a>
					
				</div>
					<div class="col-md-6 " id="commentList">
						
							
						
						<div class="react_comments">
							<%= react_component('CommentBox', props = {:url => "/api/events/#{@event.id}/comments", :pollInterval => 3000}) %>
						</div>
						
					</div>
			</div>
				
					
					


				
				
			</div>
			
		</div>
	
	</div>
	

	
</div>
<div class="modal fade" id="addserviceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addServiceModalLabel">Service providers available for <%= @event.name  %></h4>
      </div>
      <div class="modal-body">
      	<ul class="list-unstyled">
      		<% services = Service.all %>
      		<% services.each do |serv| %>
      			<li>
      				<p>
	      				<h5><%= serv.name  %></h5>

	      					<% vendors = User.where(:role => "vendor") %>
	      					
	      					<% vendors.each do |vendor| %>
	      					<% p vendor.first_name %>
	      					<ul class="list-unstyled">
								<% if vendor.services.any? { |item| item[:name] == serv.name } %>
									<li> 
										<button class="btn btn-primary btn-sm vendorShow" id = "<%= vendor.id  %>"> 
										
											<%= vendor.name  %>
											
										</button> 
									</li>
								<% end %>

	      					</ul>
	      					<% end %>
	      			</p>
      			</li>
      		<% end %>
      	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewservicesModal" tabindex="-1" role="dialog" aria-labelledby="viewServicesModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="viewServicesModalLabel">Services scheduled</h4>
      </div>
      <div class="modal-body">
      		<% @event.services.each do |serv| %>
      			<li>
      				<p>
	      				<button class="btn btn-primary">
	      					<%= serv.name  %>
	      				</button>
	      			</p>
      			</li>
      		<% end %>
      </div>
      <div class="modal-footer">
        <a href="#" data-toggle="tooltip" title="Some tooltip text!"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></a>

      </div>
    </div>
  </div>
</div>


	
	<div class="modal fade" id="viewVendorModal" tabindex="-1" role="dialog" aria-labelledby="viewVendorModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="vendorModalLabel"></h4>
      </div>
      <div class="modal-body center-block">
      	<h5>
      		
      			Owner: <span id="vendorOwnerLabel"></span>
      		
      	</h5>
      	<h5>
      		
      			Email: <span id="vendorEmailLabel"></span>
      		
      	</h5>
      	<h5>
      			Services:
      			<ul style="list-style-type: none;margin-left:15px;" id="vendorServicesList"></ul>
      	</h5>



      	
      </div>
      <div class="modal-footer">
      	<a class="addProviderButton btn btn-primary">Add this provider</a>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	



