
<div class="container-fluid wow fadeInLeft animated">

	
	<div class="col-lg-11 center-block">
	<br>
	<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<h4>Details for <span class='highlight'><b><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=<%= @event.name%>"><%= @event.name %></a></b></span></h4>
			</div>

			<div class="panel-body">
				<div class="col-md-6">
					<p> 
						 
						<h4>Start time: <%= pretty_date(@event.start_date)  %></h4> 
						<h4>End time: <%= pretty_date(@event.end_date)  %></h4> 
						<h4>City: <%= @event.city  %>, <%= @event.state  %></h4> 
						<h4>Address: <%= @event.address %></h4>
						<h4>Zipcode: <%= @event.zipcode  %></h4>
						<h4>Guest Count: <%= @event.guestcount.to_s  %></h4>
					</p>
					<br>
					<button  data-toggle="modal" data-target="#addserviceModal" class="btn btn-default">
						Add a service
					</button>
					<button  data-toggle="modal" data-target="#viewservicesModal" class="btn btn-default">
						View services
					</button>
					<button  class="btn btn-success" onclick="confirm('This will alert all vendors')">
						Confirm Event
					</button>
					<br>
					<hr>

					<a href="<%= organizer_path  %>" class="btn btn-primary">Back to events</a>
					
				</div>



				<div class="col-lg-6">
				<style>
				.nav-tabs>li>a {
					padding: 10px;
				}
				.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
					background-color:#0E8FAB;
					color: white;
				}
				</style>
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				  	<li role="presentation" class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
				    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
				    
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane " id="comments">
				    	<div class="col-md-12 " id="commentList">
							<div class="react_comments">
								<%= react_component('CommentBox', props = {:url => "/api/events/#{@event.id}/comments", :pollInterval => 1000}) %>
							</div>	
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane active" id="map">
				    	<img src="https://maps.googleapis.com/maps/api/staticmap?markers=color:red%7Clabel:S%7C<%= @event.address%>&size=600x300&maptype=roadmap&zoom=15" class="img img-thumbnail">
				    </div>
				  </div>

				</div>
			</div>
				
					
					


				
				
			</div>
			
		</div>
	
	</div>
	

	
</div>
<div class="modal fade" id="addserviceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addServiceModalLabel">Service providers available for <%= @event.name  %></h4>
      </div>
      <div class="modal-body">
      	<ul class="list-unstyled">
      		<% services = Service.all %>
      		<% services.each do |serv| %>
			
      			<li>
      				<h5><%= serv.name  %></h5>
      				<ul class="list-inline">
      				
	      				

	      					<% vendors = @vendors %>
	      					
	      					<% vendors.each do |vendor| %>
	      					<% @disable = "btn-default" %>
	      						
								<% if vendor.services.any? { |item| item[:name] == serv.name } %>
									
									<% @event.confirmed_services.each do |conserv| %>
										<% association = AssociatedService.find_by(:id => conserv.associated_service_id) %>
										
										<% if association.user_id  == vendor.id %>
											<% @disable = "btn-success disabled" %>	
											<% break %>
										<% end %>
									<% end %>



									<li> 
										<button class="btn <%= @disable %> btn-sm vendorShow " data-hook="<%= serv.name  %>"id = "provider:<%= vendor.id  %>"> 
										
											<%= vendor.profile.name  %>
											
										</button> 
									</li>
								<% end %>

	      					
	      					<% end %>
	      			</ul>
      			</li>
      		<% end %>
      	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewservicesModal" tabindex="-1" role="dialog" aria-labelledby="viewServicesModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="viewServicesModalLabel">Services scheduled</h4>
      </div>
      <div class="modal-body confirmedServicesList">
      		<% @event.confirmed_services.each do |serv| %>
      			<li data-hook="service:<%= serv.id %>">
      			<%= link_to 'X', "/api/event/#{@event.id}/deleteconfirmedservice/#{serv.id}", data: { :confirm => 'Are you sure?', method: :delete}, remote: true , :class => "btn btn-sm btn-danger pull-right"   %>
      				<p>
	      				
	      					<% association = AssociatedService.find_by(:id => serv.associated_service_id) %>
	      					<span class="highlight"><%= User.find_by(:id => association.user_id).name  %></span>
	      					<%= Service.find_by(:id => association.service_id).name  %>
	      					
	      			
	      			</p>

      			</li>
      		<% end %>
      </div>
      <div class="modal-footer">
        <a href="#" data-toggle="tooltip" title="Some tooltip text!"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></a>

      </div>
    </div>
  </div>
</div>


	
	<div class="modal fade" id="viewVendorModal" tabindex="-1" role="dialog" aria-labelledby="viewVendorModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="vendorModalLabel"></h4>
      </div>
      <div class="modal-body center-block">
      	<h5>
      		
      			Owner: <span id="vendorOwnerLabel"></span>
      		
      	</h5>
      	<h5>
      		
      			Email: <span id="vendorEmailLabel"></span>
      		
      	</h5>
      	<h5>
      			Service Selected:
      			<ul style="list-style-type: none;margin-left:15px;" id="vendorServicesList"></ul>
      	</h5>



      	
      </div>
      <div class="modal-footer">
      	<button class="addProviderButton btn btn-default" id="" data-hook="addProvider">Add this provider</button>

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<span data-hook="eventIDholder" id= "<%= @event.id %>" ></span>
	

<script>
	$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

