


<div class="container wow fadeInLeft animated">
	<br>

	<div class="row">
	
	</div>
	
	
	<div class="panel panel-default light-blue panel-border-black ">
	<div class="panel-heading">
		<h2><%= @event.name  %></h2> 
		
	</div>
		<div class="panel-body">
				<%= pretty_date(@event.date)  %> <%= @event.time.strftime("at %l:%m%p")  %><br>
				<%= @event.city  %>, <%= @event.state  %> <br>
				<%= @event.address %>
				<%= @event.zipcode  %> 
		</div>

	</div>
	<a href="<%= organizers_path  %>"><button class="btn btn-primary">Back to events</button></a>
	

	
</div>