
<div class="container-fluid wow fadeInLeft animated">

	<div class="col-lg-3">
	<br>
		<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				
			</div>

			<div class="panel-body light-blue">
				
			</div>
			
		</div>
	</div>
	
	<div class="col-lg-9">
	<br>
		<div class="panel panel-default light-blue panel-border-black">
			<div class="panel-heading clearfix">
				<button class="btn btn-primary btn-lg pull-right" ><a href="<%= organizers_addevent_path  %>" style="color:white;">Add New Event</a></button>

					<h2 class="pull-left">Events</h2> 
					<br>
				</div>
				<div class="panel-body">
					
					<% @events.each do |event| %>
						<div class="col-lg-4">
							<a href="/organizers/showevent/<%= event.id %>" style='color:black;'><div class="panel panel-default panel-border-grey ex1 text-center">
								<div class="panel-heading">
									<h4><%= event.name  %> <br> <small><%= event.venue  %></small></h4>
								</div>
								<div class="panel-body">
									
									<%= pretty_date(event.date)  %> <%= event.time.strftime("at %l:%m%p")  %><br>
									<%= event.city  %>, <%= event.state  %> <br>
									<%= event.address %>
									<%= event.zipcode  %>
									
									
								</div>

							</div></a>
						</div>
					<% end %>
					
			
			</div>

		</div>
	</div>
	

	
</div>
