
<div class="container-fluid wow fadeInLeft animated">

	
	<div class="col-lg-11 center-block">
	<br>
	<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-10" >
					<h4>Details for <span class='highlight'><b><%= @event.name %></b></span></h4>	
					</div>
					<div class="col-md-2">
						<a class="btn btn-primary" href="<%= calendar_path  %>">Back to calendar</a>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="col-md-6">
					<p> 
						<h4>Organizer: <%= @organizer.first_name  %> <%= @organizer.last_name  %></h4>
						
						<h4>Start time: <%= pretty_date(@event.start_date)  %></h4> 
						<% if @event.end_date != nil %>
							<h4>End time: <%= pretty_date(@event.end_date)  %></h4> 
						<% end %>
						<h4>City: <%= @event.city  %>, <%= @event.state  %></h4> 
						<h4>Address: <%= @event.address %></h4>
						<h4>Zipcode: <%= @event.zipcode  %></h4>
						<h4>Guest Count: <%= @event.guestcount.to_s  %></h4>
					</p>
					<br>
					<hr>
					<button  data-toggle="modal" data-target="#myModal" class="btn btn-default">
						View Service providers
					</button>
					<%= link_to 'Offer my services!', add_comment_path( :text => 'My company would like to offer our services for this event!'), data: { :confirm => 'Are you sure?', method: :post, toggle: :tab }, remote: true , :class => "btn btn-sm btn-success btn-edit", :style =>"z-index: 30;"   %>
				</div>
				
				<style>
				.nav-tabs>li>a {
					padding: 10px;
				}
				.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
					background-color:#0E8FAB;
					color: white;
				}
				</style>
				<div class="col-md-6">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
						  	<li role="presentation" ><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
						 </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					   <div role="tabpanel" class="tab-pane" id="map">
					    	<img src="https://maps.googleapis.com/maps/api/staticmap?markers=color:red%7Clabel:S%7C<%= @event.address%>&size=600x300&maptype=roadmap&zoom=15" class="img img-thumbnail">
					    </div>
					    <div role="tabpanel" class="tab-pane active" id="comments">
					    	<div class="col-md-12 " id="commentList">
								<div class="react_comments">
									<%= react_component('CommentBox', props = {:url => "/api/events/#{@event.id}/comments", :pollInterval => 1000}) %>
								</div>	
							</div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
			
	</div>
	
</div>
	
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Service providers schdeduled for <%= @event.name  %></h4>
      </div>
      <div class="modal-body">
      	<%if @event.confirmed_services.count < 1 %>
      		<p>
      			This event has yet to schedule any services. Offer your services through the comments tab or by clicking on offer my service!
      		</p>
      	<% end %>
      		<% @event.confirmed_services.each do |serv| %>
      			<p class="lead">
	      				
	      					<% association = AssociatedService.find_by(:id => serv.associated_service_id) %>
	      					<%= Service.find_by(:id => association.service_id).name  %> 
							<span class="highlight"> <a href='/profiles/<%= association.user_id%>'><%= User.find_by(:id => association.user_id).profile.name  %></a> </span>
	      					
	      					
	      			
	      			</p>
      		<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
function goBack() {
    window.history.back();
}

$('#navbarUL').append("<li class='navbar-text pull-right'><a href='/vendor' type='button'>View Events</a></li>");
</script>