
<div class="container-fluid wow fadeInLeft animated">

	<div class="col-lg-3">
	<br>
		<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				Organizers in your area
			</div>

			<div class="panel-body light-blue">
				<ul>
					<% @organizers.each do |organizer|  %>
						<li>
							<%= organizer.first_name  %>
						</li>
		
					<%  end %>
				</ul>
	
			</div>
			
		</div>
	</div>
	
	<div class="col-lg-9">
	<br>
		<div class="panel panel-default light-blue panel-border-black">
			<div class="panel-heading clearfix">
				

					<h2 class="pull-left">Home Page</h2> 
					<br>
				</div>
				<div class="panel-body">
					<% if @events.present? %>
						<% @events.each do |event| %>
							<div class="col-lg-4">
								<a href="/organizers/showevent/<%= event.id %>" style='color:black;'><div class="panel panel-default panel-border-grey ex1 text-center">
									<div class="panel-heading">
										<h4><%= event.name  %> <br> <small><%= event.venue  %></small></h4>

									</div>
									<div class="panel-body">
										Posted by: <%= User.find_by(:id => event.user_id).first_name  %> <%= User.find_by(:id => event.user_id).last_name  %><br>
										Start time: <%= pretty_date(event.start_date)  %> <br>
										End time: <%= pretty_date(event.end_date)  %> <br>
										<%= event.city  %>, <%= event.state  %> <br>
										<%= event.address %>
										<%= event.zipcode  %>
										
										
									</div>

								</div></a>
							</div>
						<% end %>
					<% end %>
					
			
			</div>

		</div>
	</div>
	

	
</div>